.boxSkills{
    background-image: url(../../assest/skills.png );
    background-position: center ;
    background-size: cover;
    height: 126.5vh;
    width: 100%;
    position: relative;
}
@media only screen and (min-width: 1200px) and (max-width: 1700px) {
  .boxSkills{
      height: 133.4vh;
      background-position: bottom;
  }
}

@media only screen and (max-width: 770px) {
    .boxSkills {
      height: auto;
    }
  }