.boxAbout{
    background-image: url(../../assest/Artboard\ 22.png);
    background-position: center;
    background-size: cover;
    height: 104vh;
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.respon{
    margin-bottom: 5rem;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .widimg img{
        min-width: 100%;
    }
    .respon{
    
        margin-bottom:3rem ;
        height: 70vh;
    }
    .boxAbout{
        height: 150vh;
    }
    
  }
  @media only screen and (max-width: 390px) {
    .widimg img{
        min-width: 100%;
    }
    .respon{
    
        margin-bottom:1rem ;
        width: 100%;
        height: auto;
    }
    .boxAbout{
        height: 150vh;
    }
    
  }

.widimg{
    margin-top: 12em;
    padding-bottom:3rem ;
}