.boxContcet{
    background-image: url(../../assest/contect.png);
    background-position:  center;
    background-size: cover;
    width: 100%;
    height: 111.5vh;
}
@media only screen and (min-width: 1200px) and (max-width: 1700px) {
    .boxContcet{
        height: 117.7vh;
        background-position: bottom;
    }
  }
  