.boxHome{
    background-image: url(../../assest/Artboard\ 1.jpg );
    background-position: center;
    background-size: cover;
    height: 118.9vh;
    max-height: 124vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxHome h1 , h3{
    color: white;
    text-align: center;
    
}
@media only screen and (max-width: 600px) {
     h1{
        font-size: 4rem !important;
    }
  }

.btedite{
    /* margin-top: 50px; */
    padding: 0.18rem 2rem ;
    font-size: 20px;
    border-radius: 18.68px;
    color: #c56f31;
    background-image: linear-gradient(90deg,#854f73,rgb(22,24,21));
    filter: brightness(100%);
    
}
.homeedite{
    margin-bottom: 180px;
    margin-top: 200px;
}
.sizing {
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    filter: drop-shadow(12px 8px 4px #854f73);
}
.cloText  {
    color:#c56f31 ;
    font-size: 2rem;
}
.edite i{
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}
.edite a{
    text-decoration: none;
}